* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

  body {
    background-color: #f0f2f5;
    font-family: Helvetica, Sans-Serif;
  }

  .container {
    display: flex;
    margin: 0 auto;
    max-width: 950px;
    flex-direction: column;
    align-items: center;
  }

  .account-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 10px;
    max-width: 340px;
  }

  .facebook-logo {
    margin: 20px 0;
    height: 35px;
  }

  .logo-text {
    color:#333333;
    font-size: 30px;
    margin: 5px 0;
  }

  .text {
    color: #7e89a9;
    font-size: 15px;
  }

  .cards {
    display: flex;
    gap: 18px;
    margin-top: 30px;
    justify-content: center;
  }

  .current-user {
    background-color: white;
  }

  .card-overlay {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    border-top-left-radius: 8px;
  }

  .notification-count {
    border-radius: 50%;
    width: 24px;
    text-align: center;
    font-size: 15px;
    background-color: red;
    line-height: 24px;
    position: relative;
    left: 5px;
    bottom: 3px;
    cursor: pointer;
  }

  .cancel {
    position: relative;
    left: 7px;
    font-size: 12px;
    cursor: pointer;
    top: 5px;
  }

  .add-user {
    background-color: #F5F6F7;
    justify-content: flex-end;
  }

  .add {
    text-align: center;
    background-color: white;
    color: #1877f2;
    padding: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .current-user img {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }

  .username {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }

  .card-property {
    height: 150px;
    background-color: #f5f6f7;
    position: relative;
  }

  .add-user img {
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  form a {
    color: #1877f2;
    font-size: 13px;
    cursor: pointer;
  }

  .login-container {
    padding: 20px 15px;
    background-color: white;
    border-radius: 8px;
    max-width: 355px;
  }

  input {
    width: 100%;
    padding: 10px 16px;
    margin-bottom: 20px;
    font-size: 13px;
    border: 1px solid #edeef0;
    outline: none;
    border-radius: 5px;
  }

  .login {
    padding: 7px;
    width: 100%;
    background-color: #1877f2;
    color: white;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    border: none;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .create-account {
    background-color: #42b72a;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 10px;
  }

  .divider {
    border: 1px solid #dadde1;
    margin: 10px 0;
  }

  .create-new-page a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
  }

  .create-new-page {
    margin-top: 25px;
    font-size: small;
  }

  .card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    flex-basis: 50%;
  }

  /* ovdje sta god da dodam ide za desktop */
  @media (min-width: 992px) {
    .container {
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      margin-top: 40px;
    }

    .form-wrapper {
      margin-top: 90px;
    }

    .create-new-page {
      white-space: nowrap;
    }

    .account-details {
      align-items: start;
    }

    .username{
      text-align: center;
    }
  }
