body {
  background-color: #f0f2f5;
  font-family: Helvetica, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  padding: 80px 0;
  margin: 0 auto;
  max-width: 750px;
}

.flex-div {
  display: flex;
  flex-direction: column;
}

.logo {
  color: #0866ff;
  text-align: left;
  margin: 20px 0;
}

h2{
  margin: 0 auto;
  font-size: larger;
  color: #1c1e21;
}

.name-content p{
  margin: 5px 0;
}

.cards {
  display: flex;
}

.card-1 {
  border-radius: 5px;
  background-color: white;
  flex-basis: 37%;
  margin: 130px 10px;
  position: relative;
}

.tip{
  background-color: black;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.tip #cancel{
  position: relative;
  color: white;
  left: 5px;
}

.tip #notification{
  border-radius: 50%;
  width: 20px;
  text-align: center;
  font-size: 15px;
  color: white;
  background-color: red;
  height: 20px;
}

.username {
  text-align: center;
  margin: 10px 0;
}

.card-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F5F6F7;
  flex-basis: 38%;
  margin: 128px 20px;
}

.add {
  text-align: center;
  background-color: white;
  color: #1877f2;
  border-radius: 5px;
  height: 60px;
}

.add p{
  margin: 10px 10px;
}

.card-1 img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-2 img {
  height: 50px;
  width: 20%;
  object-fit: contain;
  margin: 60px 0;
  color: #1976f2;
}

form p {
  text-align: center;
  color: #1877f2;
  font-size: small;
}


.login-container {
  padding: 40px;
  background-color: white;
  border-radius: 15px;
  margin: 0 40px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
 }

.login {
  padding: 7px;
  width: calc(100% + 23px);
  background-color: #1877f2;
  color: white;
  font-size: large;
  border-radius: 5px;
}

.create-account {
  margin: 10px 10px;
  padding: 8px 5px;
  background-color: #42b72a;
  color: white;
  font-size: medium;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.text2 a {
  color:blue;
}

.text2{
  text-align: center;
  font-size: small;
}

@media (max-width: 992px) {
  .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  }
  .logo{
    text-align: center;
    font-size:xx-large;
  }
  .cards{
    justify-content: center;
  }
  .name-content{
    text-align: center;
  }
  .card-2{
    flex-basis: 30%;
  }
  .login-container{
    padding: 20px 40px;
  }

  .card-1 {
    flex-basis: 25%;
  }
  .card-2{
    flex-basis: 25%;
  }
  }









